    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#/dashboard">LawTracker</a>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a>
          </li>
          <li><a href="#/dashboard">My Profile</a>
          </li>
          <li><a href="#/help">Help</a>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Middle Section -->
<div class="container">
  <div class="jumbotron" id="jumbo-top">
    <h1>Law Tracker</h1>
    <p> LawTracker is an open source software tool that allows regular citizens to collaborate in the legislative process by suggesting changes to congressional legislation and transparently tracking changes made to bills during the legislative lifecycle. </p>
  </div>
</div> <!-- end container -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2> Colloborative policy-making </h2>
      <p>  Law Tracker helps legislators, congressional staff and citizens to streamline the process 
  of writing and tracking changes to legislation. Before a bill becomes a law, it will have
  undergone a usually lengthy and complicated process of negotiation that frequently results
  in a significant divergence between the initial and final versions of bills. Currently,
  keeping track of the significant changes to a particular bill requires an excellent
  eye for detail and a lot of patient reading. </p>
    </div>
    <div class="col-md-6">
      <h2> Follow changes in the law </h2>
      <p>Legislative stakeholders and the public deserve a simpler way to follow changes to congressional legislation during a bill's lifecycle.  The implementation of industry-standard 
  version-control software to the legislative process will allow legislators, stakeholders 
  and citizens to understand and see with ease all changes, large and small, made to a bill 
  before it becomes a law.  Additionally, citizens will be able to use our convenient web 
  interface to propose changes to laws and to propose their own legislation.   </p>
      </p>
    </div>
  </div>
  </div>
</div>
</div> <!-- End Middle Section -->
