<div class="container">
  <div class="row">
    
    <div class="col-xs-5">
      <form class="form-signin" role="form" ng-submit="signin()">
        <h2 class="form-signin-heading">Sign In</h2>
        <input type="email" ng-model="user.email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" id="auth-button" type="submit">Sign in</button>
        <!-- will implement remember me chackbox later
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="user.remember" value="remember-me"> Remember me
              </label>
            </div>
          -->    
      </form>
    </div>

    <div class="col-xs-2"></div> <!-- there must be a better way -->
    
    <div class="col-xs-5">
      <form class="form-signin" role="form" ng-submit="signup()">
        <h2 class="form-signin-heading">Sign Up</h2>
        <input type="text" ng-model="newUser.name" class="form-control" placeholder="Full name" required>
        <input type="email" ng-model="newUser.email" class="form-control" placeholder="Email address" required>
        <input type="password" ng-model="newUser.password" class="form-control" placeholder="Password" required>
        <input type="password" ng-model="newUser.confirmPassword" class="form-control" placeholder="Confirm password" required>
        <!-- will implement remember me chackbox later
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="user.remember" value="remember-me"> Remember me
              </label>
            </div>
          -->    
        <button class="btn btn-lg btn-primary btn-block" id="auth-button" type="submit">Sign in</button>
      </form>
    </div>

  </div>
  <a id="hrBanner" href="http://hackreactor.com"> 
    <img style="position: fixed; top: 0; right: 0; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor"> 
  </a>
</div>
