  <div class="container" ng-controller="BillDetailController">
    <div class="row">
      <div class="col-md-9">
        <! -- main content -->
<h2>{{bill.description}}</h2>
<p>
    <pre>{{bill.content}}</pre>
</p>

    </div>
      <div class="col-md-3">
        <!-- sidbar content -->
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/wireframes/fork.html">Fork</a>
            </li>
            <li>
                <a href="/wireframes/edit.html">Edit</a>
            </li>
            <li>
                <a href="/wireframes/settings.html">Settings</a>
            </li>
        </ul>

      </div>
    </div>
