<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard">LawTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a>
        </li>
        <li><a href="#/dashboard">My Profile</a>
        </li>
        <li><a href="#contact">Help</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<div class="container" ng-controller="BillRevisionsController">
  <div class="row">
    <div class="col-md-10">
      <h2>Revisions</h2>
      <table id="revision-history" class="table table-hover table-condensed">
        <tr>
          <th>Commit</th>
          <th>Title</th>
          <th>Author Name</th>
          <th>Author Email</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat="revision in revisions | filter:query">
          <td>{{revision.short_id}}</td>
          <td><a href="/#/bills/{{bill.id}}/revisions/{{revision.id}}">{{revision.title}}</a></td>
          <td>{{revision.author_name}}</td>
          <td>{{revision.author_email}}</td>
          <td>{{revision.created_at}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-2">
      <!-- sidbar content -->
      Search: <input ng-model="query">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="/wireframes/fork.html">Fork</a>
        </li>
        <li>
          <a href="/#/bills/create">Create</a>
        </li>
        <li>
          <a href="/#/bills/{{bill.id}}">View</a>
        </li>
        <li>
          <a href="/#/bills/{{bill.id}}/revisions">Revisions</a>
        </li>
      </ul>
    </div>
  </div>
</div> <!-- End Middle Section -->
