<div class="container" ng-controller="CreateBillController">
  <div class="row">
    <div class="col-md-9">
      <form novalidate class="create-bill-form">
        Filename: <input type="text" ng-model="bill.filename" /><br />
        Description: <input type="text" ng-model="bill.description" /><br />
        Content:<br />
        <textarea ng-model="bill.content" cols="170" rows="50"></textarea>
        <button ng-click="reset()">RESET</button>
        <button ng-click="create(bill)">SAVE</button>
      </form>
      <! -- main content -->
      <pre>{{bill.content}}</pre>
    </div>
    <div class="col-md-3">
      <!-- sidbar content -->
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="/wireframes/fork.html">Fork</a>
        </li>
        <li>
          <a href="/wireframes/edit.html">Edit</a>
        </li>
        <li>
          <a href="/wireframes/settings.html">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
