

<!-- Top Section -->
<div class="container">
  <div class="row" id="gray">
    <div class="col-sm-8" id="top-section">
      <a href="user1010/interesting-bill">Home/user1010</a><br>
    </div>
  </div>
</div><!-- End Top Secion -->

<!-- Middle Section -->
  <div class="container-fluid">
    <div class="col-sm-7"id="dashboard-body">
      <h2> Contributions </h2>
      <ul id="dashboard-body">
        <li>Contribution 1:  Commit 1200830: 09/09/2015</li>
        <li>Contribution 1:  Commit 1200830: 09/09/2015</li>
        <li>Contribution 1:  Commit 1200830: 09/09/2015</li>
      </ul>
       <h2> Bills </h2>
      <ul id="dashboard-body">
        <li>Bill 1:  A resolution to fix everything: 09/09/2015</li>
        <li>Bill 2: Save our puppies act: 09/09/2015</li>
        <li>Bill 3: Team America act:  09/09/2015</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <img src="img/barack-obama.jpg">
    </div>

  </div> <!-- End Middle Section -->
   
