    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#/dashboard">LawTracker</a>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/about">About</a>
          </li>
          <li><a href="#/dashboard">My Profile</a>
          </li>
          <li><a href="#/help">Help</a>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">  <!-- Middle Section -->
  <div class="row">
    <div class="col-md-9">
      <h1>Frequently Asked Questions </h1><br>
      <h3> What is Law Tracker? </h3>
      <p> Law Tracker is an open source project to make version control of congressional bills easily accesible to both legislators and citizens. </p>
      <h3> What is version control? </h3>
      <p> Proposed bills changed significantly before becoming laws.  The goal of Law Tracker is to take much of the obscurity out of the lawmaking process by highlighting changes to a bill over its lifecycle.  </p>
      <h3> I'm not a politician.  Why should I care about Law Tracker? </h3>
      <p>Laws determine how your tax dollars are spent, regulations on the environment and the development of our national economy.  By paying attention to the details of legislation that is currently under consideration average citizens can encourage their representatives to only support well-crafted and positive laws. 
      <h3> Can anyone create a new bill? </h3>
      <p> Anyone can make a new account and create a bill.  </p> 
      <h3> What are contributions?  </h3>
      <p> Each time a change is made to a bill, Law Tracker keeps track of the changes since the previous version and makes a highlighted document showing the differences available in the "contributions" section within a given user's dashboard.  </p>
    </div>
    <div class="col-md-3">
      <h2> About </h2>
      <p> LawTracker is an open source software tool that allows regular citizens to collaborate in the legislative process by suggesting changes to congressional legislation and transparently tracking changes made to bills during the legislative lifecycle. </p>
      <h2> Contact </h2>
      <p>For all support inquiries contact us at: <a href="support@lawtracker.com">support@lawtracker.com</a>
      </p>
    </div> 
  </div>

</div> <!-- End Middle Section -->
