div .background-capitol{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body .background-capitol {
  margin-top: 1px;
  background: url("../img/capitol.jpg") no-repeat center 0.2px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-top: 60px;
}

#textBox {
  padding-left: 10px;
  padding-top: 5px;
}
#userInfoBox {
  text-align: center;
}

#userImage {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#auth-title{
  text-align: left;
  margin-left: 3%
}
#signin {
  margin-right: 28%;
  margin-left: 10%;
}

#signup {
  margin-left: 43%;

}

#auth-button {
  background-color: #003399;
  background-color: #003399;

}
#jumbo-top {
  margin-top: 2%;
}

#jumbo-top h1 {
  text-align: center;
}
#dashboard-body {
  background-color: #CCCCCC;
  border-radius: 6px;
}

#top-section a {
  font-size: 26px;
}

#section-table {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 10px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#username-link {
  padding: 10px;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
}